[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
jupyterlab = "*"
ipykernel = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
lxml = "*"
html5lib = "*"
tqdm = "*"
ipywidgets = "*"
nbconvert = "*"
word2number = "*"

[dev-packages]

[requires]
python_version = "3.9"
